* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.one, .two, .three, .four {
    margin: 0 auto;
}

footer {
    background: #366171;
    height: 270px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


#footerText {
    user-select: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer p {
    font-weight: 300;
}

footer b {
    font-weight: 600;
}

#footerIcons {
    display: grid;
    grid-template-columns: 25% auto 25%;
    background: #366171;
}

footer figure {
    position: relative;
    top: -1em;
    left: 22em;
    display: inline-block;
}
footer figure img {
    width: 55px;
    height: 55px;
}
